.profile__author {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 42px;
  padding: 0;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 373px;
  height: min-content;
}

@media screen and (max-width: 580px) {
  .profile__author {
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 0 29px;
    align-self: flex-start;
    max-width: 196px;
  }
}
