.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  transform: rotate(-45deg);
  transition: 0.6s ease;
}

.popup__close:hover {
opacity: 0.6;
}
@media screen and (max-width: 320px) {
  .popup__close {
  right: 0;
  width: 26px;
  height: 26px;
  }
}
