.profile-info {
  color: white;
  display: grid;
  width: 415px;
  height: 77px;
  align-self: center;
  grid-template-columns: 373px 24px;
  grid-template-rows: 39px 22px;
  grid-column-gap: 18px;
  grid-row-gap: 16px;
  margin-left: 30px;
  margin-top: 22px;
  margin-bottom: 21px;
}

@media screen and (max-width: 320px) {
  .profile-info {
    max-width: 282px;
    width: 282px;
    grid-template-columns: 1fr 50px;
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    align-items: flex-end;
    align-self: flex-start;
    height: 50px;
    grid-template-rows: 22px 14px;
    margin: 26.25px 0 36px;
  }
}
