.profile-info__edit {
    cursor: pointer;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    align-self: end;
    transition: 0.6s ease;
  }
  .profile-info__edit:hover {
    opacity: 0.6;
  }
  @media screen and (max-width: 320px) {
    .profile-info__edit{
     width: 18px;
     height: 18px;
    }
  }